<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="com.example.demo.mapper.AddressMapper" >  
  <insert id="addAddr" parameterType="com.example.demo.domain.Address">
  	INSERT INTO s_address VALUES(#{id},#{address})
  </insert>
  <delete id="deleteById" parameterType="int">
  	delete from s_address where id=#{id};
  </delete>
  <update id="updateAddress" parameterType="com.example.demo.mapper.AddressMapper">
  	UPDATE s_address 
  		SET
  			address = #{address}
			WHERE id = #{id}
  </update>
  <delete id="deleteaddressbylist" parameterType="List">
  delete from s_address where 1=1 in
  <foreach item="id" collection="list" open="(" separator="," close=")">
  	#{id}
  </foreach>
  </delete>
</mapper> 